# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

# if there's at least 1 job, explicitly. specify them along with their tasks.
jobs:
- job: job1
  steps:
  - script: echo Hello, world!
    displayName: 'Run a one-line script'

  - script: |
      echo Add other tasks to build, test, and deploy your project.
      echo See https://aka.ms/yaml
    displayName: 'Run a multi-line script'
- job: job2
# specifying dependencies on a job using dependsOn
  dependsOn: job1
  steps:
  - script: echo here is the second job.
    displayName: 'Run a one-line script'
- job: job3
# specifying dependencies on a job using dependsOn
  dependsOn: job2
  steps:
  - script: echo here is the second job.
    displayName: 'Run a one-line script'